p.redcolor{
    color: red;
}
p.blueocolor{
    color:blue;
}
h1{
     color: green;
    text-align: center;
    background-color: #000000;
}
h3{
   color:red; 
    text-align: center;
    background-color: #db7093;

}
body{
    background-image: url(../images01/ダウンロード.jpg);
}
h3#kudo{
    text-align: center;
 color:red;
     background-color: #ffd700;

}
h1#ko{
    color:darkgoldenrod; 
    text-align: center;
    background-color: #66cdaa;
}