div.title{
    width: 1000px;
    height: 100px;
    background-color:red;
    text-align: left;
    font-size: 70px;
    margin-bottom: 20px;
    font-family: "Impact"
        padding:10px 0px 0px 20px;
}
div.article{
    width:1000px;
    height: 100px;
    background-color: bisque;
    text-align: center;
    font-size: :15px;
    font-family: "Impact"
}
div.footer{
    width: 1000px;
    height: 50px;
    background-color: aquamarine;
    font-size: 15px;
    text-align: right;
    font-family: "Impact"
    margin-top:20px; 
}


span.menuitem{
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 40px;
    background-color: cadetblue;
    text-align: right;
    font-size: 30px;
    border: 5px dotted blue;
}
span.images1{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 200px;
    background-color:black;
    color: white;
}
span.images2{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 200px;
    background-color: red;
    color: white;
}

div.menu{
    font-size: 0;
    width: 1000px;
}

div.images{
    font-size: 1;
    width: 10000px;
}