h1{
    
    color: green;
    text-align: center;
    background-color: #000000;

}
p{
    color: aliceblue;
    
}

body{
    background-image: url(../images01/michinokaimei_img1.jpg);
}
h3{   
    text-align: center;
    background-color: #66cdaa;
    
}
table{
     background-color: #d2b48c;
   
}
table{ background-image: url(../images01/a.jpg);
}
    
ol{
     background-image: url(../images01/asfghjk.jpg);

}
address{
  color: orange;
}


